body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background: white;
}
canvas{
    display: block;
    background: white;
    box-sizing: border-box;
}

#buttons_container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#buttons_container button{
    background: none;
    border: none;
    cursor: pointer;
    opacity: .4;
    transition-duration: .6s;
}
#buttons_container button:hover{
    opacity: .9;
}
#buttons_container i{
    font-size: 6rem;
}

#loading{
    height: 100vh;
    width: 100vw;
    background: #bbb;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading_content h1{
    font-family: arial;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 16px;
    color: #333;
}
#loading_bar{
    background: #333;
    height: 6px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
#loaded{
    height: 100%;
    background: white;
    width: 100%;
    transform-origin: left;
    transform: scaleX(0);
}